.sidebar-note {
    cursor: pointer;
}
.note-marker {
    cursor: pointer;
}

.smaller {
    font-size: 10pt;
}

p {
    margin-top: 20pt;
}

#link1 {
    background-color: #FFFF00;
}

#link2 {
    background-color: Tomato;
}

/*displays of the popup*/

span.popup1 {
    position: absolute;
    width: 200px;
    visibility: hidden;
    padding: 0em 1em 0em 1em;
    font-size: 90%;
    font-family: Helvetica, Sans-serif;
    line-height: 1.4;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    z-index: 250;
}

span.popup2 {
    position: absolute;
    bottom: 40px;
    margin-left: -10px;
    visibility: visible;
    padding: 0em 1em 0em 1em;
    font-size: 90%;
    font-family: Helvetica, Sans-serif;
    line-height: 1.4;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    z-index: 250;
}
/*displays of the popup*/