.sidebar-note {
    cursor: pointer;
}
.note-marker {
    cursor: pointer;
}

.smaller {
    font-size: 10pt;
}
.marginalia{
  margin: .5em;
  padding: .2em;
}
.marginalia.selected{
}
[data-glossed-by="marginalia"] {
    background-color: Tomato;
}
[data-glossed-by="marginalia"].active,
.marginalia.active{
  background-color: green;
}

p {
    margin-top: 20pt;
}
#welcome-splash .modal-dialog{
max-width:80%;
}
.modal-content p{
text-align:justify;
}
#link1 {
    background-color: #FFFF00;
}

#link2 {
    background-color: Tomato;
}

#transcription {
    line-height: 2.8em;
    text-align: justify;
}
#ms-image-container {
    overflow: hidden;
}
.ms-image {
    max-width: 100%;
    transition: all 0.5s ease-in-out;
}
[data-glossed-by = "interlinear"] {
    border-bottom: 2px dotted grey;
}
.interlinear-b {
    background-color: lightgrey;
}

/*displays of the popup*/

span.marginnote {
    position: absolute;
    visibility: hidden;
    padding: 0em 1em 0em 1em;
    font-size: 90%;
    font-family: Helvetica, Sans-serif;
    line-height: 1.4;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    z-index: 250;
}

span.call {
    font-style: italic;
}


br {
    padding-bottom: 40pt;
}


span.popup2 {
    position: absolute;
    bottom: 40px;
    margin-left: -10px;
    visibility: visible;
    padding: 0em 1em 0em 1em;
    font-size: 90%;
    font-family: Helvetica, Sans-serif;
    line-height: 1.4;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    z-index: 250;
}
/*displays of the popup*/


fieldset {
    margin-bottom: 50px;
}
#image-controls {
    position: absolute;
    opacity: 0.9;
    margin: 1.2em;
    z-index: 9;
}
